---
import IconBlueSky from "@/assets/icons/IconBlueSky.svg";
import IconBrandX from "@/assets/icons/IconBrandX.svg";
import IconGitHub from "@/assets/icons/IconGitHub.svg";
import IconLinkedin from "@/assets/icons/IconLinkedin.svg";
import IconMail from "@/assets/icons/IconMail.svg";
import IconBilibili from "@/assets/icons/IconBilibili.svg";
import IconDouyin from "@/assets/icons/IconDouyin.svg";
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";

export interface Props {
  centered?: boolean;
  compactOnMobile?: boolean;
}

const { centered = false, compactOnMobile = false } = Astro.props;

const iconMap = {
  github: IconGitHub,
  twitter: IconBrandX,
  bluesky: IconBlueSky,
  linkedin: IconLinkedin,
  mail: IconMail,
  bilibili: IconBilibili,
  douyin: IconDouyin,
};
---

<div
  class:list={[
    "flex flex-wrap",
    compactOnMobile ? "gap-0.5 sm:gap-1" : "gap-1",
    centered ? "justify-center" : "justify-center sm:justify-start",
  ]}
>
  {
    SOCIALS.filter((social) => social.active).map((social) => {
      const IconComponent = iconMap[social.icon as keyof typeof iconMap];
      return (
        <LinkButton
          href={social.href}
          class:list={[
            "hover:rotate-6",
            compactOnMobile ? "p-1.5 sm:p-1" : "p-2 sm:p-1",
          ]}
          title={social.linkTitle}
        >
          {IconComponent && (
            <IconComponent
              class:list={[
                "inline-block fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent",
                compactOnMobile
                  ? "size-5 scale-105 sm:size-6 sm:scale-110"
                  : "size-6 scale-125 sm:scale-110",
              ]}
            />
          )}
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      );
    })
  }
</div>
