---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block max-w-full group-hover:cursor-pointer",
    size === "sm" ? "underline-offset-4" : "underline-offset-6 sm:underline-offset-8",
  ]}
>
  <a
    href={`/tags/${tag}`}
    transition:name={tag}
    class:list={[
      "relative inline-flex max-w-full items-center whitespace-nowrap underline decoration-dashed transition-colors group-hover:-top-0.5 group-hover:text-accent focus-visible:p-1",
      { "text-sm underline-offset-4": size === "sm" },
      { "text-base underline-offset-6 sm:text-lg sm:underline-offset-8": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "mr-1 inline-block shrink-0 opacity-80 sm:mr-1.5",
        { "size-3.5": size === "sm" },
        { "size-4 sm:size-5": size === "lg" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>
